.footer {
    background: ghostwhite;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer-child {
    top: 2em;
}


